{% extends 'main.html' %} {% block content %}
<div class="album-detail-container">
    <h1 class="album-name">{{ album.name }}</h1>
    <h3 class="album-artist-name">{{ album.artist }}</h3>
    <div class="album-detail-content">
        <div>
            <img
                class="album-detail-img"
                src="{{album.cover_art}}"
                alt="{{album.name}} cover art"
            />
            <div class="btn-group">
                {% if is_owned_by_user %}

                <a
                    class="btn btn-red"
                    href="{% url 'remove_from_collection' album.id %}"
                    >- Remove from collection</a
                >
                {% else %}
                <a class="btn btn" href="{% url 'add_to_collection' album.id %}"
                    >+ Add to collection</a
                >
                {% endif %}
                <a class="btn btn-spotify" href="{{album.spotify_uri}}"
                    >Listen on spotify</a
                >
            </div>
        </div>
        <div class="album-tracks">
            {% for track in album.tracks %}
            <a href="{{track.uri}}"
                ><p class="track-link">
                    {{ track.track_number }} - {{ track.name }}
                </p></a
            >
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
