{% extends 'main.html' %} {% block content %}
<div class="flex search-container">
    <form action="{% url 'search_by_album' %}" method="GET">
        {% csrf_token %}
        <input
            class="search-bar"
            type="text"
            name="q"
            placeholder="search albums..."
            autofocus
        />
    </form>
</div>

{% if count > 0 %}
<h2 class="title title-2">
    Found {{ count }} result{{count|pluralize}} for "{{query}}"
</h2>

<div class="artist-list-container">
    {% for album in albums %}
    <a href="{% url 'album_detail' album.id %}">
        <div class="artist-card flex">
            <img
                class="artist-card__img"
                src="{{album.cover_art}}"
                alt="{{album.name}} album photo"
            />

            <div class="flex artist-card__content">
                <div>
                    <h3 class="album-name">{{ album.name }}</h3>
                    <h5>{{ album.artist }}</h5>
                </div>
                <div></div>
            </div>
        </div>
    </a>
    <hr />
    {% endfor %}
</div>

{% endif %} {% endblock content %}
