{% extends 'main.html' %} {% load humanize %} {% block content %}
<div class="artist-detail-container">
    <div class="container-header">
        <h1 class="artist-name">{{ artist.name }}</h1>
        <p class="artist-followers">
            {{ artist.followers|intcomma }} spotify followers
        </p>
        <img
            class="artist__header-img"
            {%
            comment
            %}
            src="{{artist.header_img}}"
            {%
            endcomment
            %}
            src="{{artist.avatar_img}}"
            alt="{{artist.name}}"
        />
    </div>

    <details>
        <summary class="artist-list-heading">Artist Biography</summary>
        <div class="artist-biography">
            {{ artist.biography|safe |linebreaks }}
        </div>
    </details>

    <details open>
        <summary class="artist-list-heading">Albums</summary>
        <div class="album-container">
            {% for album in albums %}

            <a href="{% url 'album_detail' album.id %}">
                <div class="album-card">
                    <img src="{{ album.cover_art }}" alt="{{ album.name }}" />
                    <h4 class="album-card__title">{{ album.name }}</h4>
                    <p class="album-card__date">({{ album.date}})</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </details>
</div>

{% endblock content %}
