{% extends 'main.html' %} {% load humanize %}{% block content %}
<div class="flex search-container">
    <form action="{% url 'search_by_artist' %}" method="GET">
        <input
            class="search-bar"
            type="text"
            name="q"
            placeholder="search artists..."
            autofocus
        />
    </form>
</div>

{% if count > 0 %}
<h2 class="title title-2">
    Found {{ count }} result{{count|pluralize}} for "{{query}}"
</h2>

<div class="artist-list-container">
    {% for artist in artists %}
    <a href="{% url 'artist_detail' artist.id %}">
        <div class="artist-card flex">
            <img
                class="artist-card__img"
                src="{{artist.avatar_img}}"
                alt="{{artist.name}} artist photo"
            />

            <div class="flex artist-card__content">
                <div>
                    <h3 class="artist-name">{{ artist.name }}</h3>
                    <small class="artist-genres"
                        >{{ artist.genres|join:" / " }}</small
                    >
                </div>
                <div>
                    <p class="artist-followers">
                        {{ artist.followers|intcomma }} followers
                    </p>
                </div>
            </div>
        </div>
    </a>
    <hr />
    {% endfor %}
</div>
{% endif %} {% endblock content %}
