{% load static %}

<div class="flex logo">
    <a href="{% url 'home' %}" class="title title-1">AlbumCollector</a>
    <p class="title title-greeting">Hello {{request.user}}</p>
    <a class="nav-link nav-link-small" href="">Logout</a>
</div>

<div class="flex navigation">
    <div class="nav-social flex">
        <img
            class="icon"
            src="{% static 'images/icon-facebook.png' %}"
            alt="facebook logo"
        />
        <img
            class="icon"
            src="{% static 'images/icon-instagram.png' %}"
            alt="instagram logo"
        />
        <img
            class="icon"
            src="{% static 'images/icon-twitter.png' %}"
            alt="twitter logo"
        />
        <img
            class="icon"
            src="{% static 'images/icon-youtube.png' %}"
            alt="youtube logo"
        />
        <img
            class="icon"
            src="{% static 'images/icon-spotify.png' %}"
            alt="spotify logo"
        />
    </div>
    <nav class="nav-main flex">
        <a href="{% url 'search_by_album' %}" class="nav-link">Find By Album</a>
        <a href="{% url 'search_by_artist' %}" class="nav-link"
            >Find By Artist</a
        >
        <a href="" class="nav-link">My Collection</a>
        <a href="" class="nav-link">My Profile</a>
        {% comment %} <a href="" class="nav-link">Activity</a> {% endcomment %}
        {% comment%}<a href="" class="nav-link">Top Albums</a> {% endcomment %}
        {% comment%} <a href="" class="nav-link">Contact</a> {% endcomment %}
    </nav>
</div>
