@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #e63946;
    --color-dark-blue: #1d3557;
    --color-blue: #457b9d;
    --color-light: #f1faee;
    --color-spotify-green: #1db954;
}

/* ********************************************************************* 
UTILITIES
********************************************************************* */
.flex {
    display: flex;
}

.container {
    padding: 30px;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.title {
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.title-1 {
    font-size: 56px;
    letter-spacing: 6px;
}

.title-2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.title-greeting {
    font-size: 14px;
    color: var(--color-red);
}

/* ********************************************************************* 
GENERAL
********************************************************************* */
body {
    font-family: "Montserrat", sans-serif;
    /* color: var(--color-dark-blue); */
}

header {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: var(--color-dark-blue);
}

/* ********************************************************************* 
HEADER AND NAVIGATION
********************************************************************* */
.logo {
    flex-direction: column;
}

.navigation {
    flex-direction: column;
    align-items: flex-end;
}

.nav-social {
    margin-bottom: 30px;
    gap: 20px;
}

.nav-main {
    gap: 40px;
}

.nav-link {
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: var(--color-red);
}

/* ********************************************************************* 
SEARCH BAR
********************************************************************* */
.search-container {
    justify-content: center;
}

.search-bar {
    padding: 10px 20px;
    font-size: 22px;
    font-family: inherit;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

/* ********************************************************************* 
BUTTONS
********************************************************************* */
.btn-group {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-light);
    font-size: 16px;
    transition: all 0.2s ease;
}

.btn-red {
    background-color: var(--color-red);
}
.btn-spotify {
    background-color: var(--color-spotify-green);
}

.btn:hover {
    opacity: 0.9;
}

/* ********************************************************************* 
ARTISTS
********************************************************************* */
.artist-list-container {
    max-width: 800px;
    margin: 20px auto;
}

.artist-card {
    padding: 50px 0;
}

.artist-card__img {
    width: 200px;
    height: 200px;
}

.artist-card__content {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    padding: 20px;
}

.artist-name,
.album-name {
    font-size: 54px;
}

.artist-biography {
    line-height: 2;
    width: 70%;
    margin: 0 auto;
}

.artist-biography p {
    margin-bottom: 15px;
    font-size: 18px;
}


.artist-detail-container,
.album-detail-container {
    width: 80%;
    margin: 0 auto;
}

.artist__header-img {
    max-width: 100%;
}
/* ********************************************************************* 
ALBUMS
********************************************************************* */
.album-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto;
    gap: 40px;
}

.album-card {

}

.album-card__title {
    font-size: 22px;
    color: var(--color-dark-blue);
    font-weight: 800;
}

.album-card > img {
    max-width: 100%;
}

.album-detail-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.album-name {
    font-size: 30px;
}

.album-detail-img {
    max-width: 100%;
}

.album-tracks {
    padding: 0 40px;
}

.track-link {
    margin-bottom: 15px;
    font-size: 20px;
    transition: all 0.2s ease;
}

.track-link:hover {
    color: var(--color-spotify-green)
}

/* ********************************************************************* 
MEDIA QUERIES
********************************************************************* */
@media (max-width: 1190px) {
    .title-1 {
        letter-spacing: 2px;
    }
    .nav-main {
        gap: 20px;
    }
}

@media (max-width: 1080px) {
    .container {
        padding: 30px;
    }
    .title-1 {
        font-size: 42px;
    }
    .nav-link {
        font-size: 16px;
    }
    .artist-detail-container,
    .album-detail-container {
        width: 90%;
    }   
    .btn-group {
        flex-direction: column;
        text-align: center;
    }
    .btn {
        margin-bottom: 25px;
    }
}

@media (max-width: 860px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        align-items: center;
        margin-bottom: 20px;
    }
    .navigation {
        align-items: center;
    }
    .title-greeting {
        text-align: center;
    }
    .title-2 {
        font-size: 22px;
    }
    .artist-biography {
        width: 100%;
    }


}

@media (max-width: 700px) {
    .search-bar {
        margin: 15px 0;
        width: 380px;
        font-size: 16px;
    }
    .nav-main {
        flex-direction: column;
        align-items: center;
        order: 0;
        margin: 25px 0;
    }
    .nav-social {
        order: 1;
        margin-bottom: 0;
    }

}
